
<!DOCTYPE HTML>
<html>
<head>
<title>Aachis Masala Chennai a Hotels and Restaurants | Home :: Aachis masala Chennai</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Honest Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/iconeffects.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />	
<link rel="stylesheet" href="css/swipebox.css">
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/web-font-->
	<link href='//fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Oleo+Script:400,700&amp;subset=latin-ext" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />
	<script src="js/jquery.cm-overlay.js"></script>
<!--/script-->

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!-- swipe box js -->
	<script src="js/jquery.swipebox.min.js"></script> 
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
	</script>
<!-- //swipe box js -->
<!--animate-->
<link type="image/png" rel="icon" href="images/logo.png"/>
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">


<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" /> <!-- Flexslider-CSS -->
<link rel="stylesheet" href="css/team.css" type="text/css" media="screen" property="" /> <!-- Team-CSS -->
<link rel="stylesheet" href="css/smoothbox.css" type='text/css' media="all" /> <!-- Smoothbox-CSS -->
<link href="css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" /> <!-- Time-script-CSS -->

<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" /> <!-- Flexslider-CSS -->
<link rel="stylesheet" href="css/team.css" type="text/css" media="screen" property="" /> <!-- Team-CSS -->
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<script src="js/jquery.vide.min.js"></script>
</head>
<body>
<!--start-home-->

		<div class="banner" id="home">
		<div class="header-bottom wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">
		     <div class="container">
			  <div class="fixed-header">
			      <!--logo-->
			       <div class="logo">
                
                      <a href="index.html"><img src="images/logo.png" alt="Achis Masala Chennai" /></a>
					
									  <p>    S<span>outh Indian Restaurant</span></p>
				   </div>
					<!--//logo-->
					<div class="top-menu">
							<span class="menu"> </span>
							<nav class="link-effect-4" id="link-effect-4">
                              <ul>
								 <li class="active"><a data-hover="Home" href="index.html">Home</a></li>
								<li><a data-hover="About" href="#about" class="scroll">About</a></li>
								<li><a data-hover="Menu" href="#menu" class="scroll">Menu</a></li>
								<li><a data-hover="Reservation" href="#reservation" class="scroll">REservation</a></li>
							    <li><a data-hover="Gallery" href="#gallery" class="scroll">Gallery</a></li>
								<li><a data-hover="Contact" href="#contact" class="scroll">Contact</a></li>

							  </ul>
							</nav>
							</div>
							<!-- script-for-menu -->
								<script>
									$("span.menu").click(function(){
										$(".top-menu ul").slideToggle("slow" , function(){
										});
									});
								</script>
								<!-- script-for-menu -->

				 <div class="clearfix"></div>
					<script>
				$(document).ready(function() {
					 var navoffeset=$(".header-bottom").offset().top;
					 $(window).scroll(function(){
						var scrollpos=$(window).scrollTop(); 
						if(scrollpos >=navoffeset){
							$(".header-bottom").addClass("fixed");
						}else{
							$(".header-bottom").removeClass("fixed");
						}
					 });
					 
				});
				</script>
			 </div>
		</div>
	</div>
		<div class="banner-slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider4">
					    <li>
						   <div class="banner-info">
							      <h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">Welcome</h3>
								  <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">TO AACHIS MASALA </p>
						     <div class="arrows wow slideInDown"  data-wow-duration="1s" data-wow-delay=".2s"><img src="images/border.png" alt="border"/></div>
								 <span class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">READY TO BE OPENED</span>
							  </div>
						</li>
						<li>
						   <div class="banner-info">
							    <h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">The Real</h3>
								 <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">SPICY MASALAS</p>
								  <div class="arrows wow slideInDown"  data-wow-duration="1s" data-wow-delay=".2s"><img src="images/border.png" alt="border"/></div>
								 <span class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">ENJOY THE CHETTINAD FLAVOUR</span>
							  </div>
						</li>
						<li>
						   <div class="banner-info">
							      <h3 class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">Delicious</h3>
								  <p class="wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">TRADITIONAL FOODS</p>
								   <div class="arrows wow slideInDown"  data-wow-duration="1s" data-wow-delay=".2s"><img src="images/border.png" alt="border"/></div>
								   <span class="wow slideInUpslideInLeft"  data-wow-duration="1s" data-wow-delay=".3s">KARAIKUDI TASTY FOODS</span>
						   </div>
					  </li>
					</ul>
			  </div>
		<!--banner Slider starts Here-->
	  	<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager:true,
			        nav:false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
	      <!--banner Slider starts Here-->
		 </div>

		 <div class="down"><a class="scroll" href="#services"><img src="images/down.png" alt=""></a></div>
	</div>

<!--/products-->
		  <div class="about" id="about">
		     <div class="container">
			 <!--/about-section-->
			   <div class="about-section">
				<div class="col-md-7 ab-left">
				  <div class="grid">
			        <div class="h-f wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".2s">
					<figure class="effect-jazz">
					<img src="images/s1.jpg" alt="img25"/>
<figcaption>
							<h4>Aachis<span>Masala</span></h4>
							<p>Biriyani Chettinadu Style</p>
					  </figcaption>			
					</figure>
					
				 </div>
				 <div class="h-f wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".2s">
					<figure class="effect-jazz">
						<img src="images/s2.jpg" alt="img25"/>
<figcaption>
                                <h4>Aachis<span>Masala</span></h4>
							<p>Indian Traditional - Food Idli Vada Sambar, Chutney</p>
					  </figcaption>			
				   </figure>
					
				 </div>
				 <div class="clearfix"> </div>
				 </div>
			   </div>
			   <div class="col-md-5 ab-text">
			             <h3 class="tittle wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">Welcome</h3>
						  <div class="arrows-two wow slideInDown"  data-wow-duration="1s" data-wow-delay=".5s"><img src="images/border.png" alt="border"/></div>
						  <p class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">Welcome to Aachis Masala, the best Chettinad Restaurant in UK!".Our Love for food. Serving Tasty Authentic <em>South Indian</em>.</p>
                            <p class="para1">100 Seated Restaurant </p>
                                  <p class="para1">150 Seated Banqueting Hall available for all parties and funtions</p>
                                   <p class="para1">Outdoor Catering is available on upon request </p>
<div class="start wow flipInX"  data-wow-duration="1s" data-wow-delay=".3s">
						     <a href="single.html" class="hvr-bounce-to-bottom">Get Started</a>
						  </div>

					</div>
					<div class="clearfix"> </div>
			 </div>
			  <!--//about-section-->
			  <!--/about-section2-->
			   <div class="about-section">
			        <div class="col-md-5 ab-text two">
			             <h3 class="tittle wow slideInDown"  data-wow-duration="1s" data-wow-delay=".3s">About</h3>
						 <div class="arrows-two wow slideInDown"  data-wow-duration="1s" data-wow-delay=".5s"><img src="images/border.png" alt="border"/></div>
						  <p class="wow slideInUp"  data-wow-duration="1s" data-wow-delay=".3s">We specialize in the cuisine of South India Specially chettinad traditional and tasty foods, where cooks typically use rich spices and aromatic herbs to transform intricate conjurations of vegetables, lentils, and rice into tasty meals that are as fulfilling as they are filling.</p>
			     <div class="start wow flipInX"  data-wow-duration="1s" data-wow-delay=".3s">
						     <a href="single.html" class="hvr-bounce-to-bottom">Read more</a>
						  </div>

					</div>
						<div class="col-md-7 ab-left">
				  <div class="grid">
			        <div class="h-f  wow slideInRight"  data-wow-duration="1s" data-wow-delay=".2s">
					<figure class="effect-jazz">
					<img src="images/s4.jpg" alt="img25"/>
<figcaption>
							<h4>Aachis<span>Masala</span></h4>
							<p>Chettinadu Mini Meals for you</p>
					  </figcaption>			
					</figure>
					
				 </div>
				 <div class="h-f  wow slideInRight"  data-wow-duration="1s" data-wow-delay=".2s">
					<figure class="effect-jazz">
						<img src="images/s3.jpg" alt="img25"/>
<figcaption>
							<h4>Aachis<span>Masala</span></h4>
							<p>Chettinadu Baby potato masala for you</p>
					  </figcaption>			
				   </figure>
					
				 </div>
				 <div class="clearfix"> </div>
				 </div>
			   </div>
					<div class="clearfix"> </div>
			 </div>
			  <!--//about-section2-->
			</div>
	     </div>
<!--//products-->
<!-- service-type-grid -->
	<div class="service" id="services">
		<div class="container">
		    <h3 class="tittle">Our Services</h3>
			<div class="arrows-serve"><img src="images/border.png" alt="border"></div>
				<div class="inst-grids">
					<div class="col-md-3 services-gd text-center wow slideInLeft"  data-wow-duration="1s" data-wow-delay=".3s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
						<a href="images/aachismasalamenu.jpg" class="hi-icon"><img src="images/serve1.png" alt=" " /></a>
						</div>
						<h4>View our Menu</h4>
						 <p>A pure, refreshing fast food dining experience. Our authentic south Indian dishes will have you coming back for more. Check out our Menu. Come and enjoy the finest recipes..</p>
				  </div>
					<div class="col-md-3 services-gd text-center wow slideInDown"  data-wow-duration="1s" data-wow-delay=".2s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
							<a href="#" class="hi-icon"><img src="images/serve2.png" alt=" " /></a>
						</div>
						<h4>quality</h4>
						 <p><em>Chettinad cuisine</em> is perhaps the most renowned fare in the Tamil Nadu repertoire. It uses a variety of spices &amp; the dishes are made with fresh ground masalas. Chettiars also use a variety of sun-dried meats &amp; salted vegetables, </p>
				  </div>
					<div class="col-md-3 services-gd text-center wow slideInUp"  data-wow-duration="1s" data-wow-delay=".2s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
							<a href="#" class="hi-icon"><img src="images/serve3.png" alt=" " /></a>
						</div>
						<h4>Fine Recipes</h4>
						 <p>We specialize in Non Veg, 100 varieties of dosas, Indo Chinese specialities and many more Indian flavored dishes. Our specialized catering team would make your event an unforgettable event with our Masala's Kitchen. </p>
				  </div>
					<div class="col-md-3 services-gd text-center wow slideInRight"  data-wow-duration="1s" data-wow-delay=".3s">
						<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
							<a href="#" class="hi-icon"><img src="images/serve4.png" alt=" " /></a>
						</div>
						<h4>Spicy Recipes</h4>
						 <p>Here’s your most wanted South Indian Style Chettinad Non-Veg food served hot and spicy with a mothers touch of spicy masala grounded in traditional method, added to your food to keep the aroma fresh and tasty. Come enjoy </p>
				  </div>
					<div class="clearfix"> </div>		
				</div>

		</div>
	</div>
<!-- //service-type-grid -->
 <!--start-services-->

	<!--end-team-->

<!--start-banner-bottom-->
   <!--/reviews-->
	<!--div id="review" class="reviews">
			   <div class="col-md-6 test-left-img">
			   </div>
				<div class="col-md-6 test-monials">
					<h3 class="tittle">Testimonials</h3>
					<div class="arrows-serve test"><img src="images/border.png" alt="border"></div>
				<!--//screen-gallery-->
						<!--div class="sreen-gallery-cursual">
							 <!-- required-js-files
							<link href="css/owl.carousel.css" rel="stylesheet">
							    <script src="js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
								 <!--//required-js-files
						       <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                		<div class="test-review">
											   <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"><img src="images/left-quotes.png" alt=""> It's so fresh and delicious and it takes the work and guess-work out of my busy life when it comes to eating.  <img src="images/right-quotes.png" alt=""></p>
						                	  <img src="images/t3.jpg" class="img-responsive" alt=""/>
											  <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Martin H. Joseph</h5>
					                	    </div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										 <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"> <img src="images/left-quotes.png" alt="">I didn't realize it wasn't me; it was the food I was eating, until my nutrition coaching with Healthy Simple Life. I finally hit a breaking point – I felt defeated and out ..<img src="images/right-quotes.png" alt=""></p>
						                	<img src="images/t2.jpg" class="img-responsive" alt=""/>
											 <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Dennis Pal,</h5>
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										     <p class="wow fadeInUp"  data-wow-duration=".8s" data-wow-delay=".4s"><img src="images/left-quotes.png" alt=""> Having food with my sister from India! It's an amazing South Indian restaurant in the Bay Area... Loved eating the Thali and Chana bhatura... Everyone loving South Indian food should visit this place. They have two locations one at Fremont and one at Sunnyvale... <img src="images/right-quotes.png" alt=""></p>
						                	<img src="images/t1.jpg" class="img-responsive" alt=""/>
											 <h5 class="wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Martin H.Wilson</h5>
					                	</div>
					                </div>
				              </div>
						<!--//screen-gallery
					</div>
				</div>
				<div class="clearfix"> </div>
		</div-->
<!--//reviews-->
<!--reservation-->

<!-- menu-section -->
<!--div class="menu-w3l" id="menu">
	<h4 align="center">Menu</h4>
	<ul id="flexiselDemo1">	
		<li>
		  <div class="w3layouts_banner_bottom_left">
			<img src="images/ss1.jpg" alt=" " class="img-responsive" />
				<h4>Noodles --- <span>$5</span></h4>
				<p>Morbi eu justo suscipit.</p>
		  </div>
		</li>
		<li>
		  <div class="w3layouts_banner_bottom_left">
			<img src="images/ss2.jpg" alt=" " class="img-responsive" />
				<h4>Ice-Cream --- <span>$7</span></h4>
				<p>Morbi eu justo suscipit.</p>
		  </div>
		</li>
		<li>
			<div class="w3layouts_banner_bottom_left">
			  <img src="images/ss5.jpg" alt=" " class="img-responsive" />
				<h4>Lemon Fruit --- <span>$3</span></h4>
				<p>Morbi eu justo suscipit.</p>
			</div>
		</li>
		<li>
			<div class="w3layouts_banner_bottom_left">
			  <img src="images/ss4.jpg" alt=" " class="img-responsive" />
				<h4>SeaFood --- <span>$8</span></h4>
				<p>Morbi eu justo suscipit.</p>
			</div>
		</li>
		<li>
			<div class="w3layouts_banner_bottom_left">
			  <img src="images/ss3.jpg" alt=" " class="img-responsive" />
				<h4>Breakfast Bun--- <span>$3</span></h4>
				<p>Morbi eu justo suscipit.</p>
			</div>
		</li>
	</ul>
</div>
<!-- //menu-section -->
<!-- cuisine-names -->
<!--div class="cuisine-names">
	<div class="w3_cuisine_names_left w3l_cuisine_names_left">
		<h3>Papadom &amp; Chutney----- <span>£ 2.45</span></h3>
	  <h3>Green salad ----- <span>£ 3.25</span></h3>
		<h3>Chicken nuggets & fries ----- <span>£ 4.45</span></h3>
		<h3>South Indian Rasam----- <span>£ 3.95</span></h3>
		<h3>Sweet corn soup (veg/chicken)(G) ----- <span>£ 4.45</span></h3>
        	<h3>Manchow soup (veg/chicken)(G) ----- <span>£ 4.95</span></h3>
		<h3>Paani puri shots (G)----- <span>£ 4.95</span></h3>
        	<h3>Pav bhajji (G,D) ----- <span>£ 6.95</span></h3>
        	<h3>Meat Samosa (2pcs) (G) ----- <span>£ 2.95</span></h3>
		<h3>Mutton Roll (2pcs) (G)----- <span>£ 2.95</span></h3>
	</div>
  
	<div class="w3ls_cuisine_names_left">
		<a href="images/aachismasalamenu.jpg"><img src="images/aachismasalamenu.jpg" alt=" " class="img-responsive" /></a>	</div>
<div class="w3_cuisine_names_left">
		<h3>Chilli Chicken (G) ----- <span>£ 6.95</span></h3>
		<h3>Chicken Manchurian (G) ----- <span>£ 6.95</span></h3>
		<h3>Chicken Lollipop (G) ----- <span>£ 6.95</span></h3>
		<h3>Fish Cutlet (2pcs) (G) ----- <span>£ 4.45</span></h3>
		<h3>Deep Fried Sea bass (G) ----- <span>£ 7.95</span></h3>
	</div>
    
	<div class="clearfix"> </div>
</div-->
<!-- //cuisine-names -->


	<div class="reservation" id="reservation">
		<div class="container">
		<div class="reservation-info">
		  <h3 class="tittle reserve">Make a <br>
			Reservation</h3>
			 <div class="arrows-reserve"><img src="images/border.png" alt="border"></div>
				<div class="book-reservation wow slideInUp" data-wow-duration="1s" data-wow-delay=".5s">
					<form>
					 <div class="col-md-4 form-left">
						<label><i class="glyphicon glyphicon-calendar"></i> Date :</label>
						<input type="date">
						</div>
						<div class="col-md-4 form-left">
							<label><i class="glyphicon glyphicon-user"></i> No.of People :</label>
							<select class="form-control">
								<option>1 Person</option>
								<option>2 People</option>
								<option>3 People</option>
								<option>4 People</option>
								<option>5 People</option>
								<option>More</option>
							</select>
						</div>
						<div class="col-md-4 form-right">
							<label><i class="glyphicon glyphicon-time"></i> Time :</label>
							<input type="time">
						</div>
						<div class="clearfix"> </div>
						<div class="make wow shake" data-wow-duration="1s" data-wow-delay=".5s">
						  <input type="submit" value="Make a Reservation">
						</div>
					</form>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>	
	<!--//reservation-->
    <!--menu -->
	<!--div class="section main-menu" id="menu">
		<div class="container">
			<div class="main-menu-bg">
				<h3 class="w3layouts-title text-center">Our menu</h3>
				<div class="menu-info">
					<!-- Nav tabs 
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#Appetizers" aria-controls="Soups" role="tab" data-toggle="tab">Appetizers</a>
						</li>
						<li role="presentation">
							<a href="#Soups" aria-controls="Appetizers" role="tab" data-toggle="tab">Soups</a>
						</li>
						<li role="presentation">
							<a href="#Starters" aria-controls="Soups" role="tab" data-toggle="tab">Starters Non-Veg</a>
						</li>
						<li role="presentation">
							<a href="#Tandoori" aria-controls="Starters" role="tab" data-toggle="tab">Tandoori</a>
						</li>
						<li role="presentation">
							<a href="#Vegstarters" aria-controls="Tandoori" role="tab" data-toggle="tab">Starters-Veg</a>
						</li>
						<li role="presentation">
							<a href="#Chefspecials" aria-controls="Vegstarters" role="tab" data-toggle="tab">Chef Specials</a>
						</li>
						<li role="presentation">
							<a href="#Maincourse" aria-controls="Chefspecials" role="tab" data-toggle="tab">Main Course Veg</a>
						</li>
						<li role="presentation">
							<a href="#nvmaincouse" aria-controls="Maincourse" role="tab" data-toggle="tab">Main Course NonVeg</a>
						</li>
					</ul>
				</div>
				<!-- Tab panes 
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="Appetizers">
						<div class="col-md-4 agileinfo-tab-content1">
							<div class="menu-text-right1">
								<div class="menu-title">
									<h4>Congue oluptate </h4>

								</div>
								<div class="menu-price">
									<h4 class="price-clr">$ 25</h4>
								</div>
								<div class="clearfix"></div>
								<p> Nam libero tempore cum soluta nobis.</p>
							</div>
						</div>
						<div class="col-md-4 agileinfo-tab-content1">
							<div class="menu-text-right1">
								<div class="menu-title">
									<h4>Congue oluptate </h4>

								</div>
								<div class="menu-price">
									<h4 class="price-clr">$ 35</h4>
								</div>
								<div class="clearfix"></div>
								<p> Nam libero tempore cum soluta nobis.</p>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
					<div role="Soups" class="tab-pane" id="Soups">
						<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>sfsfsfsdf</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 58</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 49</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Cillum fugiat</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 88</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 64</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Cillum fugiat </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 35</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 29</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Cillum fugiat</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 50</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 48</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Cillum fugiat</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 73</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
                        
                        <div role="Starters" class="tab-pane" id="Starters">
						<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Startersf</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 58</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 49</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
                           	<div class="clearfix"></div>
						</div>
                         
                                <div role="Tandoori" class="tab-pane" id="Tandoori">
						<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Tandoori chicken</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 58</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 49</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
                           	<div class="clearfix"></div>
						</div>
                                <div role="vegstarters" class="tab-pane" id="vegstarters">
						<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Veg Startersf</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 58</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 49</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
                           	<div class="clearfix"></div>
						</div>
                        
                            <div role="Chefspecials" class="tab-pane" id="Chefspecials">
						<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Chefspecials</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 58</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Tandoori</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 49</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
                            
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Cillum fugiat</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 88</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
						
							<div class="clearfix"></div>
						</div>
					</div>
                    <div role="Maincourse" class="tab-pane" id="Maincourse">
						<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Maincourse</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 58</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 49</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
                           	<div class="clearfix"></div>
						</div>
                         <div role="Chefspecials" class="tab-pane" id="Chefspecials">
						<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Startersf</h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 58</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
							<div class="col-md-4 agileinfo-tab-content1">
								<div class="menu-text-right1">
									<div class="menu-title">
										<h4>Congue oluptate </h4>

									</div>
									<div class="menu-price">
										<h4 class="price-clr">$ 49</h4>
									</div>
									<div class="clearfix"></div>
									<p> Nam libero tempore cum soluta nobis.</p>
								</div>
							</div>
                           	<div class="clearfix"></div>
						</div>
				</div>
			</div>
			</div>
            
	<!--menu-->
	<!--menu -->
	<div class="section main-menu" id="menu">
		<div class="container">
			<div class="main-menu-bg">
				<h3 class="tiltle">Our Menu</h3>
                
				<div class="menu-info">
                
                	<div class="gallery-grids">
					<div class="col-md-6 baner-top wow fadeInRight animated" data-wow-delay=".5s">
						<a href="images/menu1.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/menu1.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
											<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Menu 1</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="images/menu2.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/menu2.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>Aachis Masala Menu</h4>
										<span class="separator"></span>
										<p>Menu 2</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
                    
                    
               	<div class="clearfix"></div>
						</div>
				</div>
			</div>
			</div>
			</div> 	     

<!--Gallery-->
<div class="gallery" id="gallery">
	<div class="container">
		<h3 class="tittle">Gallery</h3>
		<div class="arrows-serve"><img src="images/border.png" alt="border"></div>
				<div class="gallery-grids">
					<div class="col-md-6 baner-top wow fadeInRight animated" data-wow-delay=".5s">
						<a href="images/g1.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/g1.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
											<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Chettinad Traditional Foods.</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="images/g2.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/g2.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Chettinad Style Non Veg Foods</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInUp animated" data-wow-delay=".5s">
						<a href="images/c1.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/c1.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Pongal is a popular rice porridge dish based in South India.Ven pongal(spicy pongal) is mixied with sambar, coconut chutney and Uluntha vadai.</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInDown animated" data-wow-delay=".5s">
						<a href="images/c2.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/c2.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
											<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Non Veg Starter - Meals</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInUp animated" data-wow-delay=".5s">
						<a href="images/c3.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/c3.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
											<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Karaikudi Chicken Currry.</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInDown animated" data-wow-delay=".5s">
						<a href="images/c4.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/c4.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
											<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Malabar Fish Curry</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top wow fadeInRight animated" data-wow-delay=".5s">
						<a href="images/g7.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/g7.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Veg Kothu</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="images/g8.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/g8.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
											<h4>Aachis Masala</h4>
										<span class="separator"></span>
										<p>Aachis Fish Fry</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	</div>
<!-- //gallery -->

  <!--bottom-->
	    <div class="bottom">
		<div class="container">
		       <div class="bottom-top">
			    <h3 class=" wow flipInX"  data-wow-duration="1s" data-wow-delay=".3s">FREE DELIVERY</h3>
				<span class="wow slideInDown">within 3 Mile Radius </span>
				<p class="wow slideInDown" data-wow-duration="1s" data-wow-delay=".5s">Minimum €30</p>
       <div class="start wow flipInX"  data-wow-duration="1s" data-wow-delay=".3s">
						     <!--a href="#" class="hvr-bounce-to-bottom">Read More</a-->
						  </div>
			   </div>
		</div>
	</div>

	 <!--/contact-->
	 <div class="section-contact" id="contact">
	    <div class="container">
           <div class="contact-main">
				    <div class="col-md-6 contact-grid wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s">
					<h3 class="tittle wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Contact Us</h3>
						<div class="arrows-three"><img src="images/border.png" alt="border"></div>
							<p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s">.</p>
				      <form id="filldetails">
					  <div class="field name-box">
							<input type="text" id="name" placeholder="Who Are You?" required=""/>
							<label for="name">Name</label>
							<span class="ss-icon">check</span>
					  </div>
					  
					  <div class="field email-box">
							<input type="text" id="email" placeholder="example@email.com" required=""/>
							<label for="email">Email</label>
							<span class="ss-icon">check</span>
					  </div>
					  
					  <div class="field phonenum-box">
							<input type="text" id="email" placeholder="Phone Number" required=""/>
							<label for="email">Phone</label>
							<span class="ss-icon">check</span>
					  </div>

					  <div class="field msg-box">
							<textarea id="msg" rows="4" placeholder="Your message goes here..." required=""/ ></textarea>
							<label for="msg">Message</label>
							<span class="ss-icon">check</span>
					  </div>
						<div class="send wow shake"  data-wow-duration="1s" data-wow-delay=".3s">
											<input type="submit" value="Send" >
										</div>
					 
			  </form>

					   </div>
					<div class="col-md-6 contact-in wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".5s">
						<h4 class="info">Our Info</h4>
					  
				  <div class="con-top">
							<h4>UNITED KINGDOM</h4>
								<ul>
								<li>3 BRIGHTON ROAD</li> 
								<li><span ng-model="contact.city">SOUTH CROYDON</span></li> 
                                <li><span ng-model="contact.stateDisplayName">SURREY</span></li>  
								<li><span ng-model="contact.countryDisplayName">UNITED KINGDOM</span></li> 
								<li><span ng-model="contact.zipCode">CR2 6EA</span></li> 
								<li><a href="tel:+442086808833"><i class="fa fa-phone"></i>Ph:02086808833</li>
                                <li><a href="tel:+442079981693"><i class="fa fa-phone"></i>Ph:02079981693</li>
								<li><a href="mailto:aachismasalachennai@gmail.com">aachismasalachennai@gmail.com</a></li>
							  </ul>
					  </div>
                      <div class="con-top two">
							<h4>WORK HOURS</h4>
								<ul>
								<li>Mon-Sun 12 Noon - 3 Pm. Lunch</li> 
								<li><span ng-model="contact.city">Mon-Sun 6 Pm - 11 Pm. Dinner</span></li> 
                                <li><span ng-model="contact.stateDisplayName">Tuesday Closed</span></li>  
								<li><span ng-model="contact.countryDisplayName">UNITED KINGDOM</span></li> 
								<li><span ng-model="contact.zipCode">CR2 6EA</span></li> 
							
					    </ul>							
						</div>
						</div>
					<div class="clearfix"> </div>
			      </div>
				   <!--map-->
				    <div class="map wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2491.178600229241!2d-0.10015438432784407!3d51.36301327961168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876074bf4726f15%3A0xd6fce3d6f1d97b69!2s3+Brighton+Rd%2C+South+Croydon+CR2+6EA%2C+UK!5e0!3m2!1sen!2sin!4v1561469393605!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
                    	<div class="clearfix"> </div>
				<!--//map-->
			 </div>
		</div>
		<!--//contact-->
<!--footer-->
		<div class="footer text-center">
						<div class="container">
							<!--logo2-->
								   <div class="logo2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
									  <a href="index.html">
									  <h2>A<span>achis Masala Chennai</span></h2>
								     </a>
									  <p>South Indian Restaurant</p>
								   </div>
					<!--//logo2-->
								<a href="single.html" class="flag_tag2">Where to find us?</a>
									<ul class="social wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s">
										<li><a href="#" class="tw"></a></li>
										<li><a href="https://m.facebook.com/pages/category/Restaurant/Aachis-Masala-UK-2024572017851400/" class="fb"> </a></li>
										<li><a href="#" class="in"> </a></li>
										<li><a href="#" class="dott"></a></li>
										 <div class="clearfix"></div>
									</ul>
									<p class="copy-right wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s">&copy; 2023 Aachis Masala. All rights reserved | Design by <a href="mailto:esheshu4@gmail.com"> Eswariya Alexpandiyan</a></p>

					 </div>
	      </div
		><!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


	<!-- menu -->
	<script>
		$(document).ready(function () {
		  $('.mobile-nav-button').on('click', function() {
		  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)" ).toggleClass( "mobile-nav-button__line--1");
		  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)" ).toggleClass( "mobile-nav-button__line--2");  
		  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)" ).toggleClass( "mobile-nav-button__line--3");  
		  
		  $('.mobile-menu').toggleClass('mobile-menu--open');
		  return false;
		}); 
		});
	</script>
	<!-- //menu -->
	<!-- flexSlider-for-grids-section -->
		<script defer src="js/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function(){
			  $('.flexslider').flexslider({
				animation: "slide",
				start: function(slider){
				  $('body').removeClass('loading');
				}
			  });
			});
	  </script>
	<!-- //flexSlider-for-grids-section -->
	<!-- flexSlider-for-menu-section -->
	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 2
					}, 
					landscape: { 
						changePoint:640,
						visibleItems:3
					},
					tablet: { 
						changePoint:768,
						visibleItems: 4
					}
				}
			});
			
		});
	</script>
	<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	<!-- //flexSlider-for-menu-section -->
    
    <script src="js/jquery-2.2.3.min.js"></script>
	<!--/js-->
	<!-- //gallery -->
	<script src="js/jquery.tools.min.js"></script>
	<script src="js/jquery.mobile.custom.min.js"></script>
	<script src="js/jquery.cm-overlay.js"></script>

	<script>
		$(document).ready(function () {
			$('.cm-overlay').cmOverlay();
		});
	</script>
	<!-- //gallery -->
	<!--start-date-piker-->
	<link rel="stylesheet" href="css/jquery-ui.css" />
	<script src="js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1").datepicker();
		});
	</script>
	<!-- /End-date-piker -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!--//end-smooth-scrolling-->
	<!-- smooth-scrolling-of-move-up  -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>


	<script src="js/SmoothScroll.min.js"></script>

	<script>
		$(document).ready(function () {
			size_li = $("#myList li").size();
			x = 1;
			$('#myList li:lt(' + x + ')').show();
			$('#loadMore').click(function () {
				x = (x + 1 <= size_li) ? x + 1 : size_li;
				$('#myList li:lt(' + x + ')').show();
			});
			$('#showLess').click(function () {
				x = (x - 1 < 0) ? 1 : x - 1;
				$('#myList li').not(':lt(' + x + ')').hide();
			});
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.js"></script>

</body>

</html>